<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BladeMaster.png</key>
            <dict>
                <key>frame</key>
                <string>{{3122,1029},{303,305}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{303,305}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>ConfirmButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{3164,607},{171,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{171,66}}</string>
                <key>sourceSize</key>
                <string>{189,82}</string>
            </dict>
            <key>ConfirmButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{3164,211},{171,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{171,66}}</string>
                <key>sourceSize</key>
                <string>{189,82}</string>
            </dict>
            <key>IronMan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{189,271}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,31},{189,271}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>James.png</key>
            <dict>
                <key>frame</key>
                <string>{{3883,423},{185,261}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,14},{185,261}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>LichKing.png</key>
            <dict>
                <key>frame</key>
                <string>{{3028,698},{297,329}}</string>
                <key>offset</key>
                <string>{-60,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{297,329}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>LoadingFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{3427,2},{504,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{504,140}}</string>
                <key>sourceSize</key>
                <string>{548,176}</string>
            </dict>
            <key>Luffy.png</key>
            <dict>
                <key>frame</key>
                <string>{{3672,144},{231,253}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,41},{231,253}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>MessageFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2570,698},{425,281}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,19},{425,281}}</string>
                <key>sourceSize</key>
                <string>{485,323}</string>
            </dict>
            <key>Miku.png</key>
            <dict>
                <key>frame</key>
                <string>{{3164,282},{323,297}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{323,297}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>Sheldon.png</key>
            <dict>
                <key>frame</key>
                <string>{{3327,675},{277,277}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,25},{277,277}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>bg_empty_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>bg_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>bg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>bg_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cannotUseItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{3566,144},{108,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,100}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>card_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2859,1125},{209,261}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{209,261}}</string>
                <key>sourceSize</key>
                <string>{235,283}</string>
            </dict>
            <key>card_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2596,1125},{209,261}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{209,261}}</string>
                <key>sourceSize</key>
                <string>{235,283}</string>
            </dict>
            <key>card_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3869,825},{207,261}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{207,261}}</string>
                <key>sourceSize</key>
                <string>{235,283}</string>
            </dict>
            <key>card_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3606,774},{207,261}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{207,261}}</string>
                <key>sourceSize</key>
                <string>{235,283}</string>
            </dict>
            <key>card_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3614,565},{207,261}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{207,261}}</string>
                <key>sourceSize</key>
                <string>{235,283}</string>
            </dict>
            <key>card_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3463,282},{207,261}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{207,261}}</string>
                <key>sourceSize</key>
                <string>{235,283}</string>
            </dict>
            <key>card_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3164,2},{207,261}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{207,261}}</string>
                <key>sourceSize</key>
                <string>{235,283}</string>
            </dict>
            <key>daoju_1-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{3915,1088},{96,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{96,90}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>daoju_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3915,1180},{94,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{94,90}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>daoju_2-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{3823,1173},{96,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{96,90}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>daoju_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3731,1186},{96,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{96,90}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>daoju_3-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{3759,1081},{96,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{96,90}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>daoju_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3732,983},{96,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{96,90}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>daoju_4-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{3667,1088},{96,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{96,90}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>daoju_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3028,1029},{94,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{94,90}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>daoju_5-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{3639,1209},{96,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{96,90}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>daoju_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3547,1209},{96,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{96,90}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>daoju_6-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{3640,983},{96,90}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{96,90}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>daoju_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3548,983},{96,90}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{96,90}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>gold_l1-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{3672,377},{186,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,209}}</string>
                <key>sourceSize</key>
                <string>{186,209}</string>
            </dict>
            <key>gold_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2385,1140},{186,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,209}}</string>
                <key>sourceSize</key>
                <string>{186,209}</string>
            </dict>
            <key>gold_l2-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2174,1140},{186,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,209}}</string>
                <key>sourceSize</key>
                <string>{186,209}</string>
            </dict>
            <key>gold_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,1140},{186,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,209}}</string>
                <key>sourceSize</key>
                <string>{186,209}</string>
            </dict>
            <key>gold_l3-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,1140},{186,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,209}}</string>
                <key>sourceSize</key>
                <string>{186,209}</string>
            </dict>
            <key>gold_l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,1140},{186,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,209}}</string>
                <key>sourceSize</key>
                <string>{186,209}</string>
            </dict>
            <key>gold_l4-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1140},{186,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,209}}</string>
                <key>sourceSize</key>
                <string>{186,209}</string>
            </dict>
            <key>gold_l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,1140},{186,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,209}}</string>
                <key>sourceSize</key>
                <string>{186,209}</string>
            </dict>
            <key>gold_l5-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1140},{186,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,209}}</string>
                <key>sourceSize</key>
                <string>{186,209}</string>
            </dict>
            <key>gold_l5.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1140},{186,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,209}}</string>
                <key>sourceSize</key>
                <string>{186,209}</string>
            </dict>
            <key>gold_l6-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1140},{186,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,209}}</string>
                <key>sourceSize</key>
                <string>{186,209}</string>
            </dict>
            <key>gold_l6.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1140},{186,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,209}}</string>
                <key>sourceSize</key>
                <string>{186,209}</string>
            </dict>
            <key>head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3393,607},{48,48}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{48,48}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3367,954},{40,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{40,42}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3337,211},{60,54}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{60,54}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>head_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3443,607},{46,40}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,27},{46,40}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>head_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3337,607},{54,58}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{54,58}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>head_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3327,954},{46,38}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,29},{46,38}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>medal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3485,545},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{127,127}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>medal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3427,144},{133,137}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>medal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3933,2},{137,143}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{137,143}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>medal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3927,282},{139,145}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{139,145}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>medal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3877,686},{137,137}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>medal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3933,141},{139,141}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{139,141}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>shareFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2853,698},{425,173}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,32},{425,173}}</string>
                <key>sourceSize</key>
                <string>{485,233}</string>
            </dict>
            <key>shareWeixin-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{3547,1088},{118,119}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{118,119}}</string>
                <key>sourceSize</key>
                <string>{152,155}</string>
            </dict>
            <key>shareWeixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{3427,1209},{118,119}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{118,119}}</string>
                <key>sourceSize</key>
                <string>{152,155}</string>
            </dict>
            <key>shareWeixin1-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{3427,1088},{118,119}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{118,119}}</string>
                <key>sourceSize</key>
                <string>{152,155}</string>
            </dict>
            <key>shareWeixin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3427,954},{118,119}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{118,119}}</string>
                <key>sourceSize</key>
                <string>{152,155}</string>
            </dict>
            <key>shop_cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2570,2},{592,694}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{592,694}}</string>
                <key>sourceSize</key>
                <string>{640,746}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>0.GeneralPart.pvr.ccz</string>
            <key>size</key>
            <string>{4078,1336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24bf8015f17895cc0fb3ed7294209641:1/1$</string>
            <key>textureFileName</key>
            <string>0.GeneralPart.pvr.ccz</string>
        </dict>
    </dict>
</plist>
