<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AccountFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,1083},{317,350}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{317,350}}</string>
                <key>sourceSize</key>
                <string>{373,398}</string>
            </dict>
            <key>AccountManagementButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,842},{79,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{79,80}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>AccountManagementButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,924},{79,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{79,80}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>BeginButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,367},{273,99}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{273,99}}</string>
                <key>sourceSize</key>
                <string>{303,129}</string>
            </dict>
            <key>BeginButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,1435},{273,99}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{273,99}}</string>
                <key>sourceSize</key>
                <string>{303,129}</string>
            </dict>
            <key>GrassAndHero.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1254},{640,642}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{640,642}}</string>
                <key>sourceSize</key>
                <string>{640,664}</string>
            </dict>
            <key>LightCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1250,1250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1250,1250}}</string>
                <key>sourceSize</key>
                <string>{1250,1250}</string>
            </dict>
            <key>LogInButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1898},{114,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,38}}</string>
                <key>sourceSize</key>
                <string>{114,38}</string>
            </dict>
            <key>LogInButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,234},{114,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,38}}</string>
                <key>sourceSize</key>
                <string>{114,38}</string>
            </dict>
            <key>LogInTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,1435},{394,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,197}}</string>
                <key>sourceSize</key>
                <string>{394,197}</string>
            </dict>
            <key>LogoWithString.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,644},{437,337}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{437,337}}</string>
                <key>sourceSize</key>
                <string>{469,353}</string>
            </dict>
            <key>bg_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{640,853}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,853}}</string>
                <key>sourceSize</key>
                <string>{640,853}</string>
            </dict>
            <key>bindAccount-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1147},{211,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{211,62}}</string>
                <key>sourceSize</key>
                <string>{219,68}</string>
            </dict>
            <key>bindAccount.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1083},{211,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{211,62}}</string>
                <key>sourceSize</key>
                <string>{219,68}</string>
            </dict>
            <key>binding-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1898},{114,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,38}}</string>
                <key>sourceSize</key>
                <string>{114,38}</string>
            </dict>
            <key>binding.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,118},{114,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,38}}</string>
                <key>sourceSize</key>
                <string>{114,38}</string>
            </dict>
            <key>cancelButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1898},{114,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,38}}</string>
                <key>sourceSize</key>
                <string>{114,38}</string>
            </dict>
            <key>cancelButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,2},{114,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,38}}</string>
                <key>sourceSize</key>
                <string>{114,38}</string>
            </dict>
            <key>changeAccount-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1896},{211,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{211,62}}</string>
                <key>sourceSize</key>
                <string>{219,68}</string>
            </dict>
            <key>changeAccount.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1896},{211,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{211,62}}</string>
                <key>sourceSize</key>
                <string>{219,68}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{640,229}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,229}}</string>
                <key>sourceSize</key>
                <string>{640,237}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,2},{640,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,164}}</string>
                <key>sourceSize</key>
                <string>{640,164}</string>
            </dict>
            <key>popUpButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1898},{60,122}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,122}}</string>
                <key>sourceSize</key>
                <string>{70,146}</string>
            </dict>
            <key>popUpButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,924},{50,102}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{50,102}}</string>
                <key>sourceSize</key>
                <string>{70,146}</string>
            </dict>
            <key>popUpTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,2},{363,102}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{363,102}}</string>
                <key>sourceSize</key>
                <string>{377,138}</string>
            </dict>
            <key>settingsButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,842},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{79,80}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>settingsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,1710},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{79,80}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>signUpButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1896},{211,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{211,62}}</string>
                <key>sourceSize</key>
                <string>{219,68}</string>
            </dict>
            <key>signUpButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1896},{211,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{211,62}}</string>
                <key>sourceSize</key>
                <string>{219,68}</string>
            </dict>
            <key>signUpButtonGreen-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1211},{114,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,38}}</string>
                <key>sourceSize</key>
                <string>{114,38}</string>
            </dict>
            <key>signUpButtonGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1898},{114,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,38}}</string>
                <key>sourceSize</key>
                <string>{114,38}</string>
            </dict>
            <key>textTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,1831},{195,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,44}}</string>
                <key>sourceSize</key>
                <string>{195,44}</string>
            </dict>
            <key>theifKing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,644},{191,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,196}}</string>
                <key>sourceSize</key>
                <string>{191,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.LoginScene.pvr.ccz</string>
            <key>size</key>
            <string>{1818,1960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8de2787fb63c7fa0fdc9d2c5c8e118b:1/1$</string>
            <key>textureFileName</key>
            <string>1.LoginScene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
