<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ContinueButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,649},{157,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{157,60}}</string>
                <key>sourceSize</key>
                <string>{183,96}</string>
            </dict>
            <key>ContinueButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,490},{157,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{157,60}}</string>
                <key>sourceSize</key>
                <string>{183,96}</string>
            </dict>
            <key>FirstHeroTable-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,2},{242,381}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,28},{242,381}}</string>
                <key>sourceSize</key>
                <string>{294,435}</string>
            </dict>
            <key>FirstHeroTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,246},{242,379}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,30},{242,379}}</string>
                <key>sourceSize</key>
                <string>{294,435}</string>
            </dict>
            <key>FirstHeroTextBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,490},{284,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,52}}</string>
                <key>sourceSize</key>
                <string>{284,52}</string>
            </dict>
            <key>HeroSelectedMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,676},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{59,58}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>attackType.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,614},{60,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{60,113}}</string>
                <key>sourceSize</key>
                <string>{70,123}</string>
            </dict>
            <key>bg_FirstChooseHero.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{587,814}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{587,814}}</string>
                <key>sourceSize</key>
                <string>{593,828}</string>
            </dict>
            <key>boyButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,664},{151,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{151,56}}</string>
                <key>sourceSize</key>
                <string>{175,80}</string>
            </dict>
            <key>boyButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,606},{151,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{151,56}}</string>
                <key>sourceSize</key>
                <string>{175,80}</string>
            </dict>
            <key>girlButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,548},{151,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{151,56}}</string>
                <key>sourceSize</key>
                <string>{175,80}</string>
            </dict>
            <key>girlButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,490},{151,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{151,56}}</string>
                <key>sourceSize</key>
                <string>{175,80}</string>
            </dict>
            <key>interuptType.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,552},{60,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{60,113}}</string>
                <key>sourceSize</key>
                <string>{70,123}</string>
            </dict>
            <key>randomNameButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,722},{83,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{83,84}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>randomNameButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,722},{83,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{83,84}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>undeadType.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,490},{60,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{60,113}}</string>
                <key>sourceSize</key>
                <string>{70,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3.FirstChooseHero.pvr.ccz</string>
            <key>size</key>
            <string>{975,818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a9fcc4be103965060d66bc6019e43b9:1/1$</string>
            <key>textureFileName</key>
            <string>3.FirstChooseHero.pvr.ccz</string>
        </dict>
    </dict>
</plist>
