<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,102},{47,48}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,52},{47,48}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>maxScoreTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,952},{414,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,117}}</string>
                <key>sourceSize</key>
                <string>{414,117}</string>
            </dict>
            <key>muted-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,778},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>muted.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{48,48}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>p80-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1641},{473,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,386}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>p80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1641},{473,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,386}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>pAll-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,477},{473,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,386}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>pAll.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,2},{473,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,386}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>pDog-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1253},{473,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,386}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>pDog.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1253},{473,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,386}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>pDota-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1253},{473,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,386}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>pDota.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,778},{473,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,386}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>pNBA-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,390},{473,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,386}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>pNBA.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{473,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,386}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>pOnePiece-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,865},{473,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,386}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>pOnePiece.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,865},{473,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,386}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>pTBC-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1641},{473,384}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{473,384}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>pTBC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1188},{473,384}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{473,384}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>pWow-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,390},{473,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,386}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>pWow.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{473,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,386}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>plol-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{473,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,386}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>plol.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{473,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,386}}</string>
                <key>sourceSize</key>
                <string>{473,386}</string>
            </dict>
            <key>rightButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,1071},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>tibaoNameTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1071},{321,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,115}}</string>
                <key>sourceSize</key>
                <string>{321,115}</string>
            </dict>
            <key>ummute-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,390},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>unmute.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1188},{48,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{48,48}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4.TibaoSelection.pvr.ccz</string>
            <key>size</key>
            <string>{1813,2029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f0a093b2e0ca6691ea5c005103b865e:1/1$</string>
            <key>textureFileName</key>
            <string>4.TibaoSelection.pvr.ccz</string>
        </dict>
    </dict>
</plist>
