<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GoldTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,827},{495,88}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{495,88}}</string>
                <key>sourceSize</key>
                <string>{513,110}</string>
            </dict>
            <key>HeartTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,827},{495,88}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{495,88}}</string>
                <key>sourceSize</key>
                <string>{513,110}</string>
            </dict>
            <key>LevelBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1477},{136,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{136,22}}</string>
                <key>sourceSize</key>
                <string>{148,40}</string>
            </dict>
            <key>LevelFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1750},{121,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{121,39}}</string>
                <key>sourceSize</key>
                <string>{137,49}</string>
            </dict>
            <key>LevelTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1477},{144,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{144,28}}</string>
                <key>sourceSize</key>
                <string>{148,40}</string>
            </dict>
            <key>LevelUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,946},{209,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{209,29}}</string>
                <key>sourceSize</key>
                <string>{217,41}</string>
            </dict>
            <key>LevelUpTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{588,781}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{588,781}}</string>
                <key>sourceSize</key>
                <string>{592,793}</string>
            </dict>
            <key>ListListButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1324},{147,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{147,79}}</string>
                <key>sourceSize</key>
                <string>{147,81}</string>
            </dict>
            <key>ListListButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1478},{147,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{147,79}}</string>
                <key>sourceSize</key>
                <string>{147,81}</string>
            </dict>
            <key>Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1627},{93,132}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{93,132}}</string>
                <key>sourceSize</key>
                <string>{107,142}</string>
            </dict>
            <key>RankListTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1725},{586,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{586,68}}</string>
                <key>sourceSize</key>
                <string>{640,68}</string>
            </dict>
            <key>UnLockHeroButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1832},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>UnLockHeroButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1791},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,827},{190,117}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{190,117}}</string>
                <key>sourceSize</key>
                <string>{218,151}</string>
            </dict>
            <key>back-s_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1325},{151,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,81}}</string>
                <key>sourceSize</key>
                <string>{151,81}</string>
            </dict>
            <key>backToRankList-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1947},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>backToRankList.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1876},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>back_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1875},{151,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,81}}</string>
                <key>sourceSize</key>
                <string>{151,81}</string>
            </dict>
            <key>beginGameButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1130},{182,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{182,59}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>beginGameButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,946},{182,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{182,59}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>bronzeHG.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1671},{93,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{93,86}</string>
            </dict>
            <key>buyGoldButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1829},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>buyGoldButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1983},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>buyItemButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1826},{108,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,48}}</string>
                <key>sourceSize</key>
                <string>{108,48}</string>
            </dict>
            <key>buyItemButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1873},{108,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,48}}</string>
                <key>sourceSize</key>
                <string>{108,48}</string>
            </dict>
            <key>chooseTiBao-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1973},{108,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,48}}</string>
                <key>sourceSize</key>
                <string>{108,48}</string>
            </dict>
            <key>chooseTiBao.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1923},{108,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,48}}</string>
                <key>sourceSize</key>
                <string>{108,48}</string>
            </dict>
            <key>closeMatchTable-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1876},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>closeMatchTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1761},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>first_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1953},{558,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,76}}</string>
                <key>sourceSize</key>
                <string>{558,76}</string>
            </dict>
            <key>goldHG.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1576},{93,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{93,86}</string>
            </dict>
            <key>greenMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,733},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1947},{33,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{33,34}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>invite-s_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1478},{145,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,80}}</string>
                <key>sourceSize</key>
                <string>{145,80}</string>
            </dict>
            <key>invite_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1406},{145,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,80}}</string>
                <key>sourceSize</key>
                <string>{145,80}</string>
            </dict>
            <key>itemHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1650},{587,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,73}}</string>
                <key>sourceSize</key>
                <string>{587,73}</string>
            </dict>
            <key>item_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{575,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,58}}</string>
                <key>sourceSize</key>
                <string>{575,58}</string>
            </dict>
            <key>leftButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1887},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>leftButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1827},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>levelUpButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1782},{121,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{121,42}}</string>
                <key>sourceSize</key>
                <string>{133,44}</string>
            </dict>
            <key>levelUpButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1738},{123,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{123,42}}</string>
                <key>sourceSize</key>
                <string>{133,44}</string>
            </dict>
            <key>levelUpGold-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1324},{151,45}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{151,45}}</string>
                <key>sourceSize</key>
                <string>{167,65}</string>
            </dict>
            <key>levelUpGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1157},{151,45}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{151,45}}</string>
                <key>sourceSize</key>
                <string>{167,65}</string>
            </dict>
            <key>matchTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{587,538}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{587,538}}</string>
                <key>sourceSize</key>
                <string>{587,556}</string>
            </dict>
            <key>other_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1875},{558,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,76}}</string>
                <key>sourceSize</key>
                <string>{558,76}</string>
            </dict>
            <key>priceTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,579},{152,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,31}}</string>
                <key>sourceSize</key>
                <string>{152,31}</string>
            </dict>
            <key>rankListCover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1795},{575,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,78}}</string>
                <key>sourceSize</key>
                <string>{575,80}</string>
            </dict>
            <key>ranklistTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{576,367}}</string>
                <key>offset</key>
                <string>{-1,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,99},{576,367}}</string>
                <key>sourceSize</key>
                <string>{640,853}</string>
            </dict>
            <key>rightButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1766},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>rightButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1947},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>roleInfoTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,580},{400,245}}</string>
                <key>offset</key>
                <string>{8,-219}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,523},{400,245}}</string>
                <key>sourceSize</key>
                <string>{640,853}</string>
            </dict>
            <key>rolePickTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1325},{582,323}}</string>
                <key>offset</key>
                <string>{-3,-246}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,511},{582,323}}</string>
                <key>sourceSize</key>
                <string>{640,853}</string>
            </dict>
            <key>shareButton-s_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1323},{145,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,81}}</string>
                <key>sourceSize</key>
                <string>{145,81}</string>
            </dict>
            <key>shareButton_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1323},{145,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,81}}</string>
                <key>sourceSize</key>
                <string>{145,81}</string>
            </dict>
            <key>silverHG.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1488},{93,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{93,86}</string>
            </dict>
            <key>unbuyItemButton-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1873},{108,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,48}}</string>
                <key>sourceSize</key>
                <string>{108,48}</string>
            </dict>
            <key>unbuyItemButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,827},{108,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,48}}</string>
                <key>sourceSize</key>
                <string>{108,48}</string>
            </dict>
            <key>userImage_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1613},{123,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>userImage_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1488},{123,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>userImage_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1625},{123,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>userImage_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1198},{123,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>userImage_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,946},{123,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>userImage_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1073},{123,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5.RankScene.pvr.ccz</string>
            <key>size</key>
            <string>{1027,2031}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bfc877d6b7ee0c84ab33cd2141d6789:1/1$</string>
            <key>textureFileName</key>
            <string>5.RankScene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
