<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Blade_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1035},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>Blade_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1632},{139,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,83}}</string>
                <key>sourceSize</key>
                <string>{139,83}</string>
            </dict>
            <key>Blade_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1188},{176,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,97}}</string>
                <key>sourceSize</key>
                <string>{176,97}</string>
            </dict>
            <key>Blade_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1794},{178,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,103}}</string>
                <key>sourceSize</key>
                <string>{180,103}</string>
            </dict>
            <key>Blade_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1899},{187,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,108}}</string>
                <key>sourceSize</key>
                <string>{187,108}</string>
            </dict>
            <key>Blade_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1879},{63,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>Blade_CH_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1464},{144,109}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{144,109}}</string>
                <key>sourceSize</key>
                <string>{148,117}</string>
            </dict>
            <key>Blade_CH_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1497},{147,133}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{147,133}}</string>
                <key>sourceSize</key>
                <string>{163,139}</string>
            </dict>
            <key>Blade_CH_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1632},{114,143}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{114,143}}</string>
                <key>sourceSize</key>
                <string>{122,153}</string>
            </dict>
            <key>Blade_CH_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1368},{127,172}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{127,172}}</string>
                <key>sourceSize</key>
                <string>{127,180}</string>
            </dict>
            <key>Blade_CH_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1898},{126,173}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{126,173}}</string>
                <key>sourceSize</key>
                <string>{128,183}</string>
            </dict>
            <key>Blade_CH_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1055},{131,184}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,184}}</string>
                <key>sourceSize</key>
                <string>{135,184}</string>
            </dict>
            <key>Blade_CH_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1575},{141,132}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{141,132}}</string>
                <key>sourceSize</key>
                <string>{149,144}</string>
            </dict>
            <key>Blade_CH_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,594},{170,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{170,200}}</string>
                <key>sourceSize</key>
                <string>{178,200}</string>
            </dict>
            <key>Blade_CH_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,744},{179,200}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,200}}</string>
                <key>sourceSize</key>
                <string>{185,200}</string>
            </dict>
            <key>Blade_CH_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,766},{172,186}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{172,186}}</string>
                <key>sourceSize</key>
                <string>{186,200}</string>
            </dict>
            <key>Blade_CH_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,599},{169,182}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{169,182}}</string>
                <key>sourceSize</key>
                <string>{175,200}</string>
            </dict>
            <key>Blade_CH_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,783},{155,161}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,28},{155,161}}</string>
                <key>sourceSize</key>
                <string>{171,189}</string>
            </dict>
            <key>Blade_CH_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1226},{176,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{176,140}}</string>
                <key>sourceSize</key>
                <string>{180,148}</string>
            </dict>
            <key>Blade_CH_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1748},{134,129}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{134,129}}</string>
                <key>sourceSize</key>
                <string>{160,157}</string>
            </dict>
            <key>Blade_CH_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1517},{77,108}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{77,108}}</string>
                <key>sourceSize</key>
                <string>{117,130}</string>
            </dict>
            <key>Blade_CH_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1718},{71,76}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{71,76}}</string>
                <key>sourceSize</key>
                <string>{93,100}</string>
            </dict>
            <key>Blade_CH_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1936},{61,33}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{61,33}}</string>
                <key>sourceSize</key>
                <string>{79,57}</string>
            </dict>
            <key>Blade_CH_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,603},{178,153}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{178,153}}</string>
                <key>sourceSize</key>
                <string>{182,155}</string>
            </dict>
            <key>Blade_CH_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,192},{178,162}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{178,162}}</string>
                <key>sourceSize</key>
                <string>{180,166}</string>
            </dict>
            <key>Blade_CH_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,577},{175,165}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{175,165}}</string>
                <key>sourceSize</key>
                <string>{179,171}</string>
            </dict>
            <key>Blade_CH_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1639},{174,153}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{174,153}}</string>
                <key>sourceSize</key>
                <string>{178,167}</string>
            </dict>
            <key>Blade_CH_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1089},{174,135}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{174,135}}</string>
                <key>sourceSize</key>
                <string>{178,145}</string>
            </dict>
            <key>Blade_CH_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1639},{153,139}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{153,139}}</string>
                <key>sourceSize</key>
                <string>{173,153}</string>
            </dict>
            <key>Blade_CH_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1773},{116,141}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{116,141}}</string>
                <key>sourceSize</key>
                <string>{148,147}</string>
            </dict>
            <key>Blade_C_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1545},{221,92}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{221,92}}</string>
                <key>sourceSize</key>
                <string>{241,108}</string>
            </dict>
            <key>Blade_C_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,940},{221,90}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{221,90}}</string>
                <key>sourceSize</key>
                <string>{241,108}</string>
            </dict>
            <key>Blade_C_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1314},{229,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{229,98}}</string>
                <key>sourceSize</key>
                <string>{241,108}</string>
            </dict>
            <key>Blade_C_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1314},{229,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{229,98}}</string>
                <key>sourceSize</key>
                <string>{241,108}</string>
            </dict>
            <key>Blade_C_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1901},{227,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{227,108}}</string>
                <key>sourceSize</key>
                <string>{241,108}</string>
            </dict>
            <key>Blade_C_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,372},{229,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{229,106}}</string>
                <key>sourceSize</key>
                <string>{241,108}</string>
            </dict>
            <key>Blade_C_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1794},{223,102}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{223,102}}</string>
                <key>sourceSize</key>
                <string>{241,108}</string>
            </dict>
            <key>Blade_C_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1794},{223,102}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{223,102}}</string>
                <key>sourceSize</key>
                <string>{241,108}</string>
            </dict>
            <key>Blade_DB_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1287},{175,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,146}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>Blade_DB_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1163},{181,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,142}}</string>
                <key>sourceSize</key>
                <string>{181,142}</string>
            </dict>
            <key>Blade_DB_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,918},{185,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,135}}</string>
                <key>sourceSize</key>
                <string>{185,135}</string>
            </dict>
            <key>Blade_DB_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,940},{173,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,147}}</string>
                <key>sourceSize</key>
                <string>{173,147}</string>
            </dict>
            <key>Blade_DB_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1134},{178,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,146}}</string>
                <key>sourceSize</key>
                <string>{178,146}</string>
            </dict>
            <key>Blade_DB_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,770},{188,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,146}}</string>
                <key>sourceSize</key>
                <string>{188,146}</string>
            </dict>
            <key>Blade_DB_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{188,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,148}}</string>
                <key>sourceSize</key>
                <string>{188,148}</string>
            </dict>
            <key>Blade_DB_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,946},{186,148}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{186,148}}</string>
                <key>sourceSize</key>
                <string>{190,148}</string>
            </dict>
            <key>Blade_S_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,242},{333,175}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,175}}</string>
                <key>sourceSize</key>
                <string>{333,185}</string>
            </dict>
            <key>Blade_S_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{327,185}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,185}}</string>
                <key>sourceSize</key>
                <string>{329,189}</string>
            </dict>
            <key>Blade_S_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,238}}</string>
                <key>sourceSize</key>
                <string>{360,238}</string>
            </dict>
            <key>Blade_S_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{273,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,220}}</string>
                <key>sourceSize</key>
                <string>{273,220}</string>
            </dict>
            <key>Blade_S_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,182},{265,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,190}}</string>
                <key>sourceSize</key>
                <string>{265,190}</string>
            </dict>
            <key>Blade_S_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,182},{108,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,195}}</string>
                <key>sourceSize</key>
                <string>{108,195}</string>
            </dict>
            <key>Blade_S_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{408,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,179}}</string>
                <key>sourceSize</key>
                <string>{408,179}</string>
            </dict>
            <key>Blade_S_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{356,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,170}}</string>
                <key>sourceSize</key>
                <string>{356,170}</string>
            </dict>
            <key>Blade_S_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{388,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,178}}</string>
                <key>sourceSize</key>
                <string>{388,178}</string>
            </dict>
            <key>Blade_S_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1339},{285,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,224}}</string>
                <key>sourceSize</key>
                <string>{285,224}</string>
            </dict>
            <key>Blade_S_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,379},{218,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,191}}</string>
                <key>sourceSize</key>
                <string>{218,191}</string>
            </dict>
            <key>Blade_S_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,374},{230,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,218}}</string>
                <key>sourceSize</key>
                <string>{230,218}</string>
            </dict>
            <key>Blade_hit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,946},{81,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,87}}</string>
                <key>sourceSize</key>
                <string>{81,87}</string>
            </dict>
            <key>Blade_hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1898},{86,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{86,102}</string>
            </dict>
            <key>knife4.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1307},{208,100}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{208,100}}</string>
                <key>sourceSize</key>
                <string>{228,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BladeMasterFight.pvr.ccz</string>
            <key>size</key>
            <string>{905,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:699d4a340d7095484cd504f865b3e867:1/1$</string>
            <key>textureFileName</key>
            <string>BladeMasterFight.pvr.ccz</string>
        </dict>
    </dict>
</plist>
