<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IronMan_CHit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{24,6}}</string>
                <key>offset</key>
                <string>{-1,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,12},{24,6}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,785},{72,44}}</string>
                <key>offset</key>
                <string>{-1,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{72,44}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,739},{72,44}}</string>
                <key>offset</key>
                <string>{-1,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{72,44}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,302},{98,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{98,180}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,304},{98,180}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{98,180}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,300},{100,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{100,180}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,624},{104,180}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,180}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,518},{104,180}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,180}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,624},{104,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,178}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,495},{106,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,178}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,603},{108,176}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,176}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,905},{32,10}}</string>
                <key>offset</key>
                <string>{0,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,11},{32,10}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,804},{110,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,174}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,806},{110,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,174}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,729},{70,28}}</string>
                <key>offset</key>
                <string>{-1,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{70,28}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,296},{2,2}}</string>
                <key>offset</key>
                <string>{-1,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,171},{2,2}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,989},{42,14}}</string>
                <key>offset</key>
                <string>{-1,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{42,14}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,781},{44,14}}</string>
                <key>offset</key>
                <string>{-1,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{44,14}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,801},{56,24}}</string>
                <key>offset</key>
                <string>{-1,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,3},{56,24}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,486},{62,30}}</string>
                <key>offset</key>
                <string>{0,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{62,30}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,859},{66,38}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{66,38}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,655},{72,40}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{72,40}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CHit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,581},{72,42}}</string>
                <key>offset</key>
                <string>{0,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{72,42}}</string>
                <key>sourceSize</key>
                <string>{110,180}</string>
            </dict>
            <key>IronMan_CP_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,916},{71,58}}</string>
                <key>offset</key>
                <string>{0,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,245},{71,58}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,603},{69,60}}</string>
                <key>offset</key>
                <string>{-1,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,245},{69,60}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{59,302}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{59,302}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{71,306}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{71,306}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,312}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{69,300}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{69,300}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{41,298}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{41,298}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{41,296}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{41,296}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{39,296}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{39,296}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{19,292}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{19,292}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{19,292}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{19,292}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{19,292}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{19,292}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,674},{63,60}}</string>
                <key>offset</key>
                <string>{-1,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,245},{63,60}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,624},{17,292}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{17,292}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{17,292}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{17,292}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,316},{15,292}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{15,292}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,927},{53,58}}</string>
                <key>offset</key>
                <string>{-1,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,246},{53,58}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,495},{47,54}}</string>
                <key>offset</key>
                <string>{1,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,248},{47,54}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,859},{33,44}}</string>
                <key>offset</key>
                <string>{-2,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,254},{33,44}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,544},{35,54}}</string>
                <key>offset</key>
                <string>{-3,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,246},{35,54}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{49,298}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{49,298}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{49,300}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{49,300}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_CP_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{51,300}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{51,300}}</string>
                <key>sourceSize</key>
                <string>{81,312}</string>
            </dict>
            <key>IronMan_hit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,918},{93,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{93,90}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>IronMan_hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,916},{93,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{93,84}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>IronMan_hit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,918},{93,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{93,92}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>IronMan_hit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{87,88}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{87,88}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>ironman_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,482},{11,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{11,105}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>ironman_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,482},{11,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{11,105}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>thunder.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,781},{61,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,15}}</string>
                <key>sourceSize</key>
                <string>{61,15}</string>
            </dict>
            <key>weixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,304},{212,109}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,35},{212,109}}</string>
                <key>sourceSize</key>
                <string>{230,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>IronManFight.pvr.ccz</string>
            <key>size</key>
            <string>{510,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae7a0fbb0ac2d7f3959b6580625e9dde:1/1$</string>
            <key>textureFileName</key>
            <string>IronManFight.pvr.ccz</string>
        </dict>
    </dict>
</plist>
