<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addCritical_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,116},{32,8}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,66},{32,8}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,116},{38,8}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,66},{38,8}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,94},{38,30}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,98},{30,24}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{30,24}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{64,62}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{68,60}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{68,60}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,72},{52,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{52,60}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,74},{50,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{50,60}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{40,46}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{40,46}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{40,44}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{40,44}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,48},{38,44}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{38,44}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,76},{48,26}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,48},{48,26}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,50},{30,46}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{30,46}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,76},{30,48}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{30,48}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,77},{24,24}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{24,24}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,103},{20,22}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,23},{20,22}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,26},{18,22}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{18,22}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,2},{18,22}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{18,22}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,50},{14,18}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{14,18}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,72},{52,38}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,36},{52,38}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,72}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,72}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{64,70}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,70}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{60,70}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{60,70}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,72},{52,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{52,58}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addCritical_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{46,60}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{46,60}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>addHeart_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,121},{3,2}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,74},{3,2}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,80},{21,8}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,41},{21,8}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{53,68}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,68}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{51,68}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,68}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,76},{47,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{47,58}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,72},{47,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{47,54}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{47,48}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{47,48}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,58},{47,38}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,32},{47,38}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{37,36}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,37},{37,36}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,50},{7,6}}</string>
                <key>offset</key>
                <string>{9,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,69},{7,6}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,66},{33,14}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,43},{33,14}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,39},{35,20}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,45},{35,20}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,2},{35,22}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,48},{35,22}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,40},{35,22}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,51},{35,22}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,41},{37,20}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,56},{37,20}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,107},{35,16}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,60},{35,16}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,114},{31,10}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,66},{31,10}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addHeart_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{53,64}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>addMove_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,90},{20,34}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{20,34}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>addMove_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,74},{36,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{36,50}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>addMove_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,64},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>addMove_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,2},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>addMove_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{36,22}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>addMove_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,72},{36,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{36,52}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>addMove_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{40,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>addMove_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,58},{40,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>addMove_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{40,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>addMove_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,60},{40,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>addMove_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,68},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>addMove_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,68},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>addMove_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,68},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ItemEffect.pvr.ccz</string>
            <key>size</key>
            <string>{979,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:033efc79aed5bb8292f011340276666e:1/1$</string>
            <key>textureFileName</key>
            <string>ItemEffect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
